ul {
    width: 100%;
    list-style: none;
    padding: 0 0.25rem 0.25rem;
  }
  
  ul li::before {
    content: "\200B";
  }

  .toDoItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #eee;
  }
  
  .toDoItem:first-child {
    margin: 0;
  }
  
  .toDoItem input[type="checkbox"] {
    text-align: center;
    width: 2.5rem;
    width: 48px;
    min-width: 48px;
    height: 2.5rem;
    height: 48px;
    min-height: 48px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
  .toDoItem input[type="checkbox"]:focus + label {
    text-decoration: underline;
  }
  
  .toDoItem > label {
    font-family: 'Kay Pho Du', sans-serif;
    font-size: 1.5rem;
    flex-grow: 1;
  }
  
  .toDoItem svg {
    width: 48px;
    min-width: 48px;
    height: 36px;
    font-size: 1rem;
    color: steelblue;
    cursor: pointer;
  }
  
  .toDoItem svg:focus, 
  .toDoItem svg:hover {
    color: red;
    outline: none;
  }