* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	max-width: 500px;
	height: 90vh;
	border: 3px solid black;
	margin: auto;
}
body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
